BasedOnStyle: Microsoft

ColumnLimit: 200

PointerAlignment: Left
ReferenceAlignment: Left

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false